#main{
    /* border: 2px solid; */
    position: relative;
    top: 50px;
    height: 83vh;
    background-image: url("../image/apple.jpg");
    background-position: center;

}

#main p{
    padding-top:  435px; 
    text-align: center;
    font-size: 47px;
    font-weight: 400;
    color: #1d1d1f;

}

#main button{
    text-align: center;
    /* padding-top: 10px; */
    margin-top: 10px;
    margin-left: 600px;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
    background-color: #0071e3;
    color: #ffff;
    border: none;
}

#main #main button:hover{
    cursor: pointer;
}

#main1{
    /* border: 2px solid blue; */
    height: 550px;
    background-image: url("../image/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#main1 button{
    margin-top: 480px;
    margin-left: 720px;
    padding:15px 21px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #1d1d1f;
}

#main2{
    /* border: 2px solid; */
    margin: 10px;
    height:80vh;
    background-image: url("../image/image3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    line-height: 25px;
    cursor: pointer;
}

#main2 h2{
    margin-top: 300px;
    /* margin-left: 400px; */
    font-size: 50px;
    font-weight: 600;
    color: #1d1d1f;
}

#main2 p{
    font-size: 25px;
    font-weight: 400px;
    color: #1d1d1f;
}

#main2 button{
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    background-color: #0071e3;
    color: #ffff;
    font-weight: 400;
    cursor: pointer;    
}

