#section1{
    /* border: 5px solid red; */
    height: 90vh;
    margin-top: 10px;
    display: flex;
    margin:15px;
}

#left{
    /* border: 5px solid blue; */
    height: inherit;
    flex: 1;
    background-image: url(../image/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    cursor: pointer;
    gap: 15px;

}



#left h3{
    font-size: 42px;
    font-weight: 400;
    color: #1d1d1f;
}

#left p{
    font-size: 41px;
    font-weight: 400px;
    color: #1d1d1f;
    margin-top: 10px;
}

/* #left p{
    font-size: 21px;
    font-weight: 400;
    color: #1d1d1f;
    padding-top: 20px;
} */

#left div{
    margin-top: 8px;
}
#left div button{
    padding: 12px 17px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    background-color: #0071e3;
}

#left div button+ button{
    cursor: pointer;
    padding: 12px 17px;
    border-radius: 50px;
    border: 1px solid #0071e3;
    color: #ffff;
    background-color: #0071e3;
    font-size: 14px;
    font-weight: 400;
    background-color: #0071e3;
}

#right{
    /* border: 5px solid green; */
    height: inherit;
    flex: 1;
    background-image: url(../image/image5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content:start;
    /* list-style: none; */
    flex-direction: column;
    padding-top: 50px;
    gap:15px;
    cursor: pointer;

}

#right p{
    font-size: 41px;
    font-weight: 400;
    color:#1d1d1f;
    margin-top: 10px;
}

#right div{
    margin-top: 8px;}

#right div button{
    cursor: pointer;
    padding: 12px 17px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    background-color: #0071e3;
}


#left div button+ button{
    cursor: pointer;
    padding: 12px 17px;
    border-radius: 50px;
    border: 1px solid #0071e3;
    color: #ffff;
    background-color: #0071e3;
    font-size: 14px;
    font-weight: 400;
    background-color: #0071e3;
}


#section2{
    /* border: 5px solid brown; */
    height: 83vh;
    margin-top: 10px;
    display: flex;
    margin:10px;
}

#left1{
    /* border: 2px solid blue; */
    height: inherit;
    flex:1;
    background-image: url("../image/phones.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    gap: 10px;
}

#left1 h4{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-top: 10%;
}

#left1 h5{
    font-size: 21px;
    font-weight: 400;
    padding-left: 30%;
    padding-right: 30%;
    /* padding-top: 10%; */
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    margin-top: 15px;
    display: block;
    gap:10px;
}

#left1 a{
   align-items: center;
   padding-left: 45%;
    padding-top: 25px;
}


#right1{
    /* border: 2px solid green; */
    height: inherit;
    background-image: url("../image/back-phone.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex:1;
    /* width: 400px; */

}

#right1 h3{
    font-size: 40px;
    text-align: center;
    align-items: center center;
    position: relative;
    padding-top: 10%;
    /* color: #fff; */
}

#right1 p{
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

#right1 div{
        margin: 25px;
        display: flex;
        margin-left: 35%;
        gap: 10px;
}

#right1 div button{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    align-items: center center;
    text-align: center;
    border-radius: 25px;
    color:#fff;
    background-color: #0071e3;

}

#section3{
    /* border: 5px solid brown; */
    height: 83vh;
    margin-top: 10px;
    display: flex;
    margin:15px;
}


#left3{
    /* border: 2px solid blue; */
    height: inherit;
    flex:1;
    background-image: url("../image/buds.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

#left3 h3{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-top: 50%;
    color: #fff;;
}

#left3 p{
    font-size: 25px;
    font-weight: 300;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding: 2%;
}

#left3 div {
   display: flex; 
   align-items: center;
   position: relative;
   margin-left: 260px;
}

#left3 div button{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    align-items: center center;
    text-align: center;
    border-radius: 25px;
    color:#fff;
    background-color: #0071e3;
    margin: 5px;
}



#right3{
    /* border: 2px solid green; */
    height: inherit;
    background-image: url("../image/hands.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex:1;
    /* width: 400px; */

}

#right3 h3,h4 {
    font-size: 20px;
    text-align: center;
    align-items: center center;
    position: relative;
    padding-top: 5%;
    /* color: #fff; */
}

#right3 button{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    align-items: center center;
    text-align: center;
    border-radius: 25px;
    color:#fff;
    background-color: #0071e3;
    margin-top: 20px;
    margin-left: 40%;
}

.div{
        background: rgb(245, 245, 247);
}

#fotter{
    height: 63vh;
    /* border: 5px solid green; */
     margin: 0 auto;
    max-width: 1180px;
    padding: 10px 22px;
    margin-top: 70px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: rgb(245, 245, 247);
    color: rgba(0, 0, 0, 0.56);
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


#fotter ul{
    list-style: none;
    text-align: center;
}

#fotter ul li{
    font-size: 12px;
    line-height: 1.9;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    row-gap: 12px;
}
